In [2]:
#imports given by Dr.K
import sys
assert sys.version_info >= (3, 5)

# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

# Common imports
import numpy as np
import os

# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

#custom imports
import seaborn as sns
import pandas as pd

file_path = '/Users/bryan/OneDrive/Desktop/nyts2023.csv'
df = pd.read_csv(file_path)

df.head()

C:\Users\bryan\AppData\Local\Temp\ipykernel_20984\2267206572.py:23: DtypeWarning: Columns (690,691,692,703,706,708,709,710,711,712,713,714,715,716,717,718,719,720,721,1172,1174,1185,1214) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,artificial_id,Non_SOGI_School,Location,QN1,QN2,QN3,QN4a,QN4b,QN4c,QN4d,...,CBIDIS,CHTP,CPOUCH,Stratum,Stratum_num,PSU,PSU_num,WT_analysis,QN141R,QN142R
0,B2100007,2,1.0,5.0,2.0,2.0,1.0,NaN,NaN,NaN,...,1.0,2.0,2.0,S05,5,P21,21,4232.149929,NaN,NaN
1,B2100018,2,2.0,8.0,2.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,S02,2,P09,9,514.656322,NaN,NaN
2,B2100021,2,1.0,5.0,1.0,2.0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,S08,8,P32,32,244.855983,NaN,NaN
3,B2100035,2,1.0,4.0,2.0,2.0,1.0,NaN,NaN,NaN,...,NaN,NaN,2.0,S08,8,P34,34,775.983192,NaN,NaN
4,B2100036,2,1.0,4.0,2.0,1.0,1.0,NaN,NaN,NaN,...,2.0,2.0,2.0,S04,4,P16,16,353.735565,1.0,1.0

Display the column titles

In [3]:
print(df.columns)

Index(['artificial_id', 'Non_SOGI_School', 'Location', 'QN1', 'QN2', 'QN3',
       'QN4a', 'QN4b', 'QN4c', 'QN4d',
       ...
       'CBIDIS', 'CHTP', 'CPOUCH', 'Stratum', 'Stratum_num', 'PSU', 'PSU_num',
       'WT_analysis', 'QN141R', 'QN142R'],
      dtype='object', length=1469)

Check to see how many missing values are in each column

In [4]:
df.isnull().sum()

artificial_id         0
Non_SOGI_School       0
Location             69
QN1                  90
QN2                 152
                   ...
PSU                   0
PSU_num               0
WT_analysis           0
QN141R             4200
QN142R             3991
Length: 1469, dtype: int64

Since the Location column has 69 missing values
it is only .3% of the total data so filling them in with the most frequent option chosen 
will not have a big impact on the data

Use the most frequent option chosen(MODE)

In [5]:
# Step 1: Find the mode (most frequent value) for the 'Location' column
most_frequent_value = df['Location'].mode()[0]

# Step 2: Replace missing values (NaNs) with the mode
df['Location'] = df['Location'].fillna(most_frequent_value)

# Check how many missing values are in the 'Location' column
missing_values_in_location = df['Location'].isnull().sum()

print(f"Number of missing values in the 'Location' column: {missing_values_in_location}")

Number of missing values in the 'Location' column: 0

Now handling the missing values in the Q1 column with MODE as well.

In [7]:
# Step 1: Find the most frequent value (mode) in the Q1 column
most_frequent_value = df['Q1'].mode()[0]

# Step 2: Fill missing values in Q1 with the mode
df['Q1'] = df['Q1'].fillna(most_frequent_value)

# Check the result: Ensure that there are no more missing values in Q1
print(f"Number of missing values in Q1 after filling: {df['Q1'].isnull().sum()}")

Number of missing values in Q1 after filling: 0